.utils {
  display: flex;
  gap: 19px;
}

.buttonPanel {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.back {
  border-right: solid 1px #fff;
  cursor: pointer;
}

.next {
  text-align: right;
  cursor: pointer;
}

.homeIcon {
  font-size: 14px;
}

.img {
  position: static !important;
  width: auto;
  border: solid 3px red;
}

.fullScreen {
  height: 100vh;
  margin-top: 0;

  display:flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  alignitems: center;
  justifycontent: center;
  color: transparent;
  margin: 0px auto;
  overflow: hidden;
  opacity: 0;
}

.imgActive {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.imageTitle {
  z-index: 2;
  display: flex;
  /* position:fixed; */
  justify-content: space-between;
  background-color: #484848;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  width: -webkit-fill-available;
  height: 45px;
  align-items: center;
  cursor: pointer;
  top: 0;
}

.buttonPanel div {
  color: #fff;
  background-color: #7393b3;
  width: 100%;
  padding: 15px;
}

.zoomBackLayer {
  width: 100%;
  border: solid 5px blue;
}

.backLayer {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  opacity: 0.4;
  color: #000;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  width: 10%;
}

.nextLayer {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  opacity: 0.4;
  justify-content: right;
  display: flex;
  align-items: center;
  height: 100%;
  width: 10%;
}

.navBtn {
  border: solid 1px silver;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  background-color: rebeccapurple;
  padding: 6px;
  width: 113px;
  cursor: pointer;
}

.exitFullScreen {
  cursor: pointer;
  border: solid 2px #fff;
  font-size: 10px;
  margin: 5px;
  z-index: 2;
  right: 0;
  padding: 4px;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
}

.exitActive {
  border: solid 2px #f00;
}

.exitNormal {
  border: solid 2px #fff;
}

.CntnrMargin {
  /* margin-top:37px; */
}

.noCntnrMargin {
  margin-top: 0;
}

.speedCtr {
  border: solid 1px #fff;
  padding: 3;
  width: auto;
  /* font-weight: bold; */
  /* font-size:16px; */
  color: #000;
}

.currSpeed {
  font-size: 16px;
  /* font-weight: bold; */
  border: solid 1px #fff;
  padding: 3px 8px;
  border-radius: 6px;
}

.music {
  font-size: 30px;
  cursor: pointer;
}

.red {
  color: red;
}

.navContainer {
  width: 100%;
  height: 100vh;
  justify-content:space-between;
  position: absolute;
  display: flex;
}

.navMiddle {
  color: white;
  width:100%;
}
